<h1>Stupid Coaching</h1>


<div class="you">
  <p><%= @question %></p>
  <p>-<i>You</i></p>
</div>


<div class="your-coach">
  <p><%= @answer %></p>
  <p>-<i>Your coach</i></p>
</div>

<%= link_to "Ask another question", ask_path %>
